@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');
body{
    background-color: black;
}

*{
    margin: 0px;
    padding: 0px;
}
.main{
    
    height: 93vh;
    background-image: url(back.jpg);
    
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(500px , 100vw);
    
    
}
.main .box{
    height: 93vh;
    width: 100%;
    opacity: .7;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
}
.main .nav {
    /* color: red; */
    max-width: 80vw;
    display: flex;
    margin: auto;
    justify-content:space-between;
    align-items: center;
    
}
nav span img{
    color: rgb(223, 25, 25);
    /* margin: 109x; */
    
    width: 144px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 1;
}
.hero{
/* font-family: "Martel Sans", sans-serif; */
    color:  white;
    height: 88.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-size: 30px; */
    position: relative;
    
}
.hero >:first-child{
    font-family: "Martel Sans", sans-serif ;
    font-size: 40px;
    font-weight: bolder ;
    align-items: center;

}
.hero >:nth-child(2){
    font-weight:400;
    /* font: size 24px; */
    font-size: 1.5rem;
    align-items: center;
}
.hero >:nth-child(3){
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px;
    align-items: center;
}
.search{
   height: 40px;
   
   
    position: relative;
    align-items: center;
}
.line{
    height: 6px;
    background-color: rgb(56, 55, 55);
}
.btn{
    padding: 6px 7px;
    font-weight: bold;
    color: white;
}
.btn-red{
    background-color: red;
    padding: 8px;


}
.btn-red-sm{
    
background-color: red;
border: 3px solid red;
border-radius:  3px;

}